.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 32px 50px;
  border-radius: 8px;
  margin: auto;
  max-width: 730px;
  width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: rgb(33, 33, 33);
}

.modal__row {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  margin-bottom: 32px;
}

.modal__title {
  font-size: 32px;
  margin: 0;
  margin-bottom: 24px;
}

.modal__exit-button {
  background-image: url(../images/exit_icon.svg);
  color: rgb(33, 33, 33);
  opacity: 40%;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__exit-button:hover {
  color: rgb(33, 33, 33);
  opacity: 100%;
}

.modal__label {
  display: block;
  color: rgba(33, 33, 33, 0.7);
  margin: 24px 0 8px;
}

.modal__input {
  width: 100%;
  padding: 16px 12px;
  color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border-color: rgba(33, 33, 33, 0.3);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__input:focus {
  color: rgb(33, 33, 33);
}

.modal__input_error {
  display: block;
  margin-top: 8px;
  border-color: rgba(255, 0, 0, 0.6);
  color: rgba(255, 0, 0, 0.6);
}

.modal__save-button {
  background-color: rgb(33, 33, 33);
  padding: 18px 32px;
  border-radius: 8px;
  color: rgb(252, 245, 229);
  border: none;
  min-width: 156px;
  cursor: pointer;
  margin-top: 32px;
}

.modal__save-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__save-button_inactive {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  margin: auto;
  max-width: 80vw;
  width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  color: rgb(33, 33, 33);
}

.modal__preview-img {
  display: block;
  border-radius: 8px;
  max-height: 80vh;
  max-width: 80vw;
  width: 100%;
}

.modal__preview-caption {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
}

.modal__preview-close {
  position: absolute;
  top: 0;
  right: -53px;
  background-image: url(../images/exit_icon._white.svg);
  background-color: transparent;
  cursor: pointer;
}

.modal__preview-close:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__save-button {
    width: 100%;
  }

  .modal__container {
    padding: 32px 18px;
  }

  .modal__preview-container {
    border-radius: 4px;
  }

  .modal__preview-img {
    display: flex;
    justify-self: center;
  }

  .modal__preview-caption {
    font-size: 16px;
  }

  .modal__preview-close {
    right: 0;
    top: -53px;
  }
}
