.page {
  background-color: rgb(252, 245, 229);
  font-family: "Poppins, Arial, Helvetica, Sans-serif";
  justify-content: center;
  min-height: 100vh;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
