.profile {
  display: flex;
  padding: 34px 0 20px 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  max-width: 1280px;
}

.profile__avatar {
  border-radius: 16px;
  max-width: 190px;
  width: 100%;
  height: 100%;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
}

.profile__avatar-button {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  border-radius: 16px;
  border: none;
  gap: 8px;
}

.profile__avatar-container:hover .profile__avatar-button {
  visibility: visible;
}
.profile__avatar-button::after {
  content: " Edit Avatar";
  color: #ffffff;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  padding-bottom: 12px;
  margin: 0;
  font-size: 32px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  line-height: 1;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__add-button {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin: 0 0 0 auto;
  height: 50px;
  padding: 18px 32px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border-style: none;
  color: rgba(252, 245, 229, 1);
  cursor: pointer;
}

.profile__add-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__edit-button {
  display: flex;
  border: none;
  color: rgba(33, 33, 33, 0.7);
  background-color: rgb(252, 245, 229);
  gap: 5px;
  margin: 114px 0 0 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  color: rgba(33, 33, 33, 1);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    gap: 20px;
  }

  .profile__avatar-button {
    visibility: visible;
    width: 23px;
    height: 23px;
    border-radius: 6px;
    padding: 4px;
    justify-content: flex-start;
    margin: 52px 8px 8px 52px;
    background-color: rgba(33, 33, 33, 0.6);
  }

  .profile__avatar-button::after {
    content: "";
  }

  .profile__avatar {
    max-width: 80px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
  }

  .profile__column {
    text-align: center;
    justify-content: center;
    padding: 6px 0;
    margin: 0;
  }

  .profile__name {
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    max-width: 288px;
  }

  .profile__edit-button {
    margin: 0 auto;
    padding: 32px 0 0 0;
    font-size: 16px;
  }

  .profile__add-button {
    margin: 0 auto;
    padding: 18px 20px;
    width: 100%;
  }
}
